/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  .social-icons {
    display: none;
  }
  .top-head-icons {
    width: 12px;
  }
  .top-header {
    padding: 33px 20px;
    background: linear-gradient(
      194deg,
      rgba(122, 225, 237, 0.2) 0%,
      rgba(122, 225, 237, 0) 100%
    );
  }
  .top-header p {
    font-size: 9px;
    font-weight: 400;
    margin-left: 8px;
  }
  .top-header .top-head-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
