/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  /* global css start */
  .container {
    padding: 0 20px;
  }
  /* global css end */

  /* top header start */
  .social-icons {
    display: none;
  }
  .top-head-icons {
    width: 15px;
  }
  .top-header {
    overflow-x: hidden;
    display: block;
    padding: 33px 20px;
    background: linear-gradient(
      194deg,
      rgba(122, 225, 237, 0.2) 0%,
      rgba(122, 225, 237, 0) 100%
    );
  }
  .top-header p {
    font-size: 10px;
    font-weight: 400;
    margin-left: 8px;
  }
  .top-header .top-head-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* top header end */

  /* navbar start */
  .logo img {
    width: 145px;
    height: 42px;
  }
  .nav-list a:hover {
    color: rgb(107, 107, 107);
  }
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: block;
  }

  .menu-toggle:checked ~ .nav-list {
    left: 0;
  }
  .close-icon {
    font-size: 24px;
    z-index: 101;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 20px;
    transform: translateY(-50%);
  }

  .menu-toggle:checked ~ .close-icon {
    display: block;
  }

  .menu-toggle:checked ~ .close-icon {
    display: block;
  }
  .nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: left 0.3s;
    z-index: 100;
  }

  .menu-toggle:checked ~ .nav-list {
    left: 0;
  }

  /* navbar end */

  /* hero section start */

  .hero-wrapper {
    display: block;
    position: relative;
    background-image: url("../assets/images/hero-banner1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 28px;
    max-height: 550px;
  }

  .left-side-content {
    width: 100%;
    margin-top: 0;
    padding: 0 20px;
  }

  .left-side-content h5 {
    padding-top: 0;
    font-size: 19px;
  }
  .left-side-content h2 {
    font-size: 40px;
    line-height: 43.479px;
    background: linear-gradient(165deg, #0a85ea 0%, #00cce3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .left-side-content p {
    color: #434343;
    font-size: 13px;
    font-weight: 400;
    margin-top: 30px;
    width: 100%;
  }

  .underline-end {
    position: absolute;
    width: 50%;
    top: 21%;
    left: 40%;
  }

  .btn-group {
    margin: 20px 0;
  }

  .btn-primary {
    font-size: 16.659px;
    font-weight: 500;
    line-height: 24.231px;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    background: linear-gradient(168deg, #00cce3 0%, #0a85ea 100%);
    transition: transform 0.2s, background 0.2s;
  }
  .btn-primary img {
    margin-right: 8px;
  }

  .btn-outline {
    display: none;
  }

  .right-side-content {
    background-image: url("https://i.ibb.co/xFV4rvv/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: end;
    max-height: 100px;
  }
  .hero-image {
    display: none;
  }
  .mini-hero-img img {
    position: relative;
    width: 250px;
    z-index: 1;
  }
  .warranty-image {
    display: none;
  }
  .mini-warranty-image img {
    width: 110px;
    position: absolute;
    top: 45%;
    left: 35%;
  }
  .review-card-image {
    display: none;
  }
  .mini-review-card-image img {
    width: 195px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 0;
  }

  .mini-google-review img {
    display: block;
    width: 85px;
    position: absolute;
    top: 200%;
    left: 8%;
  }
  .mini-button-container {
    display: none;
  }

  /* hero section end */

  /* google review card start */
  .g-wrpeer {
    display: none;
  }
  .g-main-wrpper {
    padding: 37px;
  }
  .g-wrpeer-mini {
    display: flex;
    align-items: center;
    margin: -30px auto 0;
    justify-content: center;
    padding: 5px 21px;
    position: relative;
    z-index: 50;
    border-radius: 20px;
    background: linear-gradient(
      306deg,
      rgba(255, 255, 255, 0.8) 65.31%,
      rgba(122, 225, 237, 0.8) 186.6%
    );
    box-shadow: 0px 11px 49px 0px rgba(32, 130, 211, 0.17);
    backdrop-filter: blur(8px);
  }
  .column {
    padding: 11px 20px;
  }
  .g-wrpeer-mini h3 {
    color: #2082d3;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 22.35px;
  }

  .g-wrpeer-mini p {
    color: #2082d3;
    text-align: center;
    font-size: 11.505px;
    font-style: normal;
    font-weight: 500;
    line-height: 11.505px;
  }

  /* google review card end */

  /* service card start */
  #service-card {
    padding: 25px 0;
    background: linear-gradient(
      180deg,
      rgba(225, 252, 255, 0.22) 10.37%,
      rgba(122, 225, 237, 0.29) 100%
    );
  }

  .common-heading {
    width: 100vw;
    padding-bottom: 8px;
    text-align: center;
  }

  #service-card h2 {
    color: #2082d3;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 40.972px;
  }
  #service-card .common-heading p {
    color: #434343;
    margin-top: 20px;
    width: 75%;
    margin: 0 auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px 0;
    padding: 0 30px;
  }
  .card {
    background: #fff;
    border: 5px solid #2082d31a;
    box-shadow: 0px 22.32533073425293px 13.589332580566406px 0px #006bbd0d;
    margin: 0 10px;
    padding: 10px;
    border-radius: 12px;
  }
  /* service card end */

  /* why us start */
  .why-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .why-column {
    margin: auto;
  }

  .why-icon img {
    width: 54px;
    height: 54px;
  }

  .why-content p {
    color: #095090;
    font-size: 14.139px;
    font-style: normal;
    padding-left: 0;
    font-weight: 400;
    line-height: 21.209px;
  }

  .why-box {
    display: flex;
    width: 324.498px;
    padding: 12.725px 15.553px;
    justify-content: start;
    align-items: center;
    gap: 9.898px;
  }
  /* why us end */

  /* call to action start */
  #callToAction {
    display: none;
  }
  /* call to action end */

  /* Choose us start */
  #chose-us {
    width: 100vw;
    overflow: hidden;
  }

  #chose-us .common-heading h2 {
    color: #2082d3;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 58.972px;
  }
  .underline-center {
    width: 70%;
  }
  /* Choose us end */

  /* gallery start */
  #gallery .common-heading img {
    margin-bottom: 22px;
  }
  .gallery-bg {
    position: absolute;
    height: 66%;
  }
  .slide-container {
    display: none;
  }
  .slide-container-mini {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  .slide-container-mini img {
    width: 172.485px;
    height: 172.485px;
  }
  /* gallery end */

  /* map start */
  .map {
    width: 100vw;
    height: 390px;
  }
  /* map end */
  /* contact us start */
  .contact-bg {
    display: none;
  }

  #contact {
    position: relative;
  }
  #contact .common-heading img {
    margin-bottom: 40px;
  }
  .contact-bg-mini {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-wrapper-mini {
    position: absolute;
    top: 60%;
    width: 90%;
    height: 440px;
    margin: auto;
    padding: 24px;
    gap: 15.525px;
    border-radius: 5.971px;
    border: 5.07px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      155deg,
      rgba(189, 248, 255, 0.8) 2.29%,
      rgba(255, 255, 255, 0.8) 98.03%
    );
    box-shadow: 0px 5.79596px 5.79596px 0px rgba(0, 107, 189, 0.09),
      0px 13.3307px 8.11434px 0px rgba(0, 107, 189, 0.05);
    backdrop-filter: blur(3.6211342811584473px);
  }
  .contact-wrapper-mini p {
    margin-bottom: 16px;
    text-align: center;
    color: #095090;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.884px;
  }
  .form-container-mini {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .form-input-mini {
    padding: 5px 0;
    background: transparent;
    display: block;
    border: none;
    border-bottom: 1px solid black;
  }
  .form-input-mini::placeholder {
    color: #000;
    font-family: Poppins;
    font-size: 14.841px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.979px;
  }

  .form-input-mini:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }
  .btn-file-upload-mini {
    text-align: center;
    font-family: poppins;
    display: flex;
    width: 113px;
    height: 28px;
    margin: auto;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 5.39px;
    flex-shrink: 0;
    color: #000;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.26px;
    border-radius: 53.897px;
    background: transparent;
    border: 1.078px solid #000;
    cursor: pointer;
  }

  .btn-file-upload-mini:active {
    transform: scale(0.95);
    transition: transform 0.1s;
  }
  .btn-send-now-mini {
    padding: 8px 80px;
    margin: auto;
  }
  .form-social-icons-mini {
    width: 90%;
    margin: 50px auto;
    display: flex;
    gap: 19.5px;
  }
  /* contact us end */

  /* footer start */
  .footer {
    display: none;
  }
  .footer-container-mini {
    background-image: url("https://i.ibb.co/mzb5Xcw/image.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 895px;
    padding: 22px 22px 0 22px;
  }
  .footer-menu-underline {
    margin: 10px 0;
    width: 80px;
    height: 1.934px;
    background: #183855;
  }

  .footer-links-mini li,
  .footer-services-mini li {
    margin-bottom: 8px;
    color: #183855;
    font-size: 15.178px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer-links-container {
    display: flex;
    align-items: center;
    width: 384px;
    margin-top: 250px;
  }
  .footer-links-container p {
    color: #183855;
    font-size: 17.076px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.171px;
  }
  .footer-services-mini {
    margin-left: 43px;
  }
  .footer-links-mini ul,
  .footer-services-mini ul {
    list-style: none;
  }
  .footer-bottom-mini {
    margin-top: 32px;
  }
  .footer-bottom-mini img {
    width: 242.178px;
    height: 72.559px;
  }
  .footer-bottom-mini p {
    color: #183855;
    margin-top: 28px;
    font-size: 17.543px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.289px;
  }
  .copyright-text-mini {
    color: #183855;
    font-size: 8px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 22.5px;
  }
  /* footer end */
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .mini-hero-image {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .mini-hero-image {
    display: none;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .mini-hero-img {
    display: none;
  }
  .mini-google-review {
    display: none;
  }
  .mini-warranty-image {
    display: none;
  }
  .mini-review-card-image {
    display: none;
  }
  .g-wrpeer-mini {
    display: none;
  }
  .slide-container-mini {
    display: none;
  }
  .footer-mini {
    display: none;
  }
  .contact-bg-mini {
    display: none;
  }
}
