/* Imported Goolge Fonts start */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Imported Goolge Fonts end */

/* variable start */
:root {
  --primary-text-color: #0a85ea;
}
/* variable end */

/* global css start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
p,
a {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

iframe {
  border: none;
}

.hidden {
  display: none;
}

.container-fluid {
  padding: 0;
}
.container {
  padding: 0 240px;
}

button {
  cursor: pointer;
}

/* global css end */

/* top header css start */

.top-header {
  padding: 15px 240px;
  display: flex;
  justify-content: end;
  align-items: center;
  background: linear-gradient(
    194deg,
    rgba(122, 225, 237, 0.2) 0%,
    rgba(122, 225, 237, 0) 100%
  );
}
.top-header .social-icons {
  margin-right: 45px;
}
.whatsapp-icon {
  margin-left: 10px;
}
.top-head-icons {
  width: 16px;
}
.top-header p {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}
.top-header .top-head-data {
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.top-header .top-head-data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* top header css end */

/* navbar css start */
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo img {
  width: 213px;
  /* height: 64px; */
}

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  text-decoration: none;
  color: #095090;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
  padding: 12px;
}

.nav-list a:hover {
  color: #0088ff;
}
.close-icon {
  display: none;
}
/* navbar css end */

/* hero section css start */
.hero-wrapper {
  position: relative;
  display: flex;
  margin-top: -20px;
  align-items: center;
  background-image: url("../assets/images/banner-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
}

.left-side-content {
  width: 50%;
  margin-top: -75px;
  padding-left: 230px;
}

.left-side-content h5 {
  padding-top: -20px;
  font-size: 34.823px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.left-side-content h2 {
  font-size: 88px;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 5px;
  line-height: 91px;
  background: linear-gradient(104deg, #0a85ea 31.72%, #00cce3 92.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.underline-end {
  position: absolute;
  top: 46%;
  left: 28%;
}
.left-side-content p {
  margin-top: 62px;
  color: #434343;
  font-size: 22px;
  font-weight: 500;
}
.btn-group {
  margin-top: 41px;
  display: flex;
  align-items: center;
}
.btn-primary {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 100px;
  box-shadow: 0px 0px 0px 0px rgba(0, 168, 224, 0.2),
    0px 2.27166px 5.30055px 0px rgba(0, 168, 224, 0.2),
    0px 9.08665px 9.08665px 0px rgba(0, 168, 224, 0.17),
    0px 21.20219px 12.87276px 0px rgba(0, 168, 224, 0.1),
    0px 37.10382px 15.14442px 0px rgba(0, 168, 224, 0.03),
    0px 58.30601px 16.65886px 0px rgba(0, 168, 224, 0);
  background: linear-gradient(168deg, #00cce3 0%, #0a85ea 100%);
  transition: transform 0.2s, background 0.2s;
}
.btn-primary img {
  margin-right: 12px;
}
.btn-primary:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}
.btn-secondary {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: #095090;
  border: none;
  padding: 12px 40px;
  border-radius: 100px;
  background: white;
  transition: transform 0.2s, background 0.2s;
}
.btn-secondary img {
  margin-right: 12px;
}
.btn-secondary:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}
.btn-outline {
  padding: 12px 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #1c7ace;
  background: transparent;
  font-size: 22px;
  font-weight: 500;
  border-radius: 100px;
  border: 3px solid #1c7ace;
  transition: transform 0.2s, background 0.2s;
}

.btn-outline:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.mini-button-container button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.mini-button-container {
  position: absolute;
  bottom: 2%;
  right: 4.5%;
  display: flex;
  align-items: center;
  background: transparent;
  color: transparent;
  z-index: 50;
  padding: 8.45px;
  border-radius: 60px;
  background-color: #095090;
}
.mini-button-container span {
  margin: 0 5px;
}
.support-btn {
  margin-left: 11px;
}

/* hero section css end */

/*google reviews section start*/
.g-wrpeer {
  width: 965px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 12px 40px;
  margin-top: -80px;
  position: relative;
  z-index: 50;
  border-radius: 20px;
  background: linear-gradient(
    306deg,
    rgba(255, 255, 255, 0.8) 65.31%,
    rgba(122, 225, 237, 0.8) 186.6%
  );
  box-shadow: 0px 11px 49px 0px rgba(32, 130, 211, 0.17);
  backdrop-filter: blur(13.5px);
}
.column {
  display: flex;
  width: 100%;
  padding: 15px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.g-wrpeer .column h3 {
  font-size: 57px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: center;
  color: #2082d3;
}
.g-wrpeer .column p {
  color: #2082d3;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.242px;
}

/*google reviews section end  */

/*service card section start*/
#service-card {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(
    180deg,
    rgba(225, 252, 255, 0.22) 10.37%,
    rgba(122, 225, 237, 0.29) 100%
  );
}
.common-heading {
  width: 860px;
  margin: auto;
  text-align: center;
}
.h2 {
  font-size: 49px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0px;
  color: #2082d3;
}
.common-heading p {
  font-size: 22px;
  margin: 35px 0;
  font-weight: 400;
  text-align: center;
  line-height: 32px;
  letter-spacing: 0px;
  color: #434343;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  background: #fff;
  border: 5px solid #2082d31a;
  box-shadow: 0px 22.32533073425293px 13.589332580566406px 0px #006bbd0d;
  margin: 0 10px !important;
  padding: 10px;
  border-radius: 12px;
}
.card-image img {
  width: 100%;
  border-radius: 12px;
}

.card-content h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.6558954119682312px;
  text-align: left;
  color: #2f2f2f;
  margin: 10px 0;
}
.card-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}
.card-content a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  color: #0a85ea;
}
/*service card section end  */

/*call to action fluid border design start */
#callToAction {
  background-image: url("../assets/images/caltoactionbanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.action-wrapper {
  display: flex;
  justify-content: space-between;
}
.action-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-wrapper h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}
.action-wrapper a {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #095090;
  background: #fff;
  padding: 16px 35px;
  border-radius: 50px;
  text-decoration: none;
}
.action-wrapper a img {
  padding-right: 10px;
}
/*call to action fluid border design end */

/*why chose us section start*/
#chose-us {
  padding-top: 80px;
  padding-bottom: 80px;
}
.common-heading img {
  text-align: center;
}

#chose-us .common-heading {
  margin-bottom: 40px;
}

.why-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.why-box {
  display: flex;
  border: 3px solid #0950901a;
  margin: 14px;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  border-radius: 15px;
  min-height: 126px;
}
.why-icon {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why-icon img {
  width: 76px;
  height: 76px;
}
.why-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.why-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 15px;
  color: #095090;
}
/*why chose us section end*/
/*gallery sections start*/
#gallery {
  padding: 80px 0;
  z-index: -1;
}
.gallery-bg {
  position: absolute;
  width: 100%;
  height: 51%;
  z-index: -1;
  opacity: 0.2;
  background: radial-gradient(
    75.69% 161.18% at 50% -19.29%,
    #fff 16.47%,
    #7ae1ed 62.62%,
    #0a85ea 100%
  );
}
.slide-container {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 26px;
  align-items: center;
}

.slider-btn {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;
}

.slider-btn-first {
  width: 50px;
  height: 10px;
  border-radius: 17px;
  background-color: #095090;
}
.slider-btn-second,
.slider-btn-third {
  width: 10px;
  height: 10px;
  border-radius: 17px;
  background-color: #095090;
}

/*gallery sections end  */

/*contact start*/
#contact {
  padding-top: 80px;
  position: relative;
}
.contact-wrapper {
  position: absolute;
  top: 25%;
  right: 17%;
  display: flex;
  width: 510px;
  height: 690px;
  padding: 32.979px 41.224px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.436px;
  flex-shrink: 0;
  border-radius: 8.245px;
  border: 7px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    155deg,
    rgba(189, 248, 255, 0.8) 2.29%,
    rgba(255, 255, 255, 0.8) 98.03%
  );
  box-shadow: 0px 8.00296px 8.00296px 0px rgba(0, 107, 189, 0.09),
    0px 18.4068px 11.20414px 0px rgba(0, 107, 189, 0.05);
  backdrop-filter: blur(5px);
}

.contact-wrapper p {
  color: #095090;
  font-size: 17.684px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.979px;
}
.form-container {
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32.979px;
}
.form-input {
  width: 420px;
  padding: 10px 0;
  background: transparent;
  display: block;
  border: none;
  border-bottom: 1px solid black;
}
.form-input::placeholder {
  color: #000;
  font-family: Poppins;
  font-size: 14.841px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.979px;
}

.form-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.btn-send-now {
  padding: 11px 110px;
  position: absolute;
  bottom: 32px;
  left: 92px;
}

.btn-file-upload {
  font-family: poppins;
  display: flex;
  width: 180px;
  height: 30.781px;
  padding: 6.468px 10.779px;
  justify-content: center;
  align-items: center;
  gap: 5.39px;
  flex-shrink: 0;
  border-radius: 53.897px;
  background: transparent;
  border: 1.078px solid #000;
  cursor: pointer;
}

.btn-file-upload:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.form-social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  bottom: -10%;
  right: 25%;
}
.footer-icon {
  cursor: pointer;
}

.go-to-top-btn {
  position: absolute;
  right: -37%;
  bottom: -5%;
}

/* contact end */

/* footer start */
.footer {
  background: linear-gradient(
    99deg,
    rgba(130, 232, 255, 0.08) -0.01%,
    rgba(130, 232, 255, 0.42) 24.22%,
    rgba(130, 232, 255, 0.63) 39.64%,
    #0a85ea 69.96%
  );
  position: relative;
  color: #183855;
  height: 352px;
  padding: 20px 0 45px 0;
  margin-top: -4px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin-top: 29px;
}

.footer-menu-underline {
  margin: 10px 0;
  width: 98.62px;
  height: 1.934px;
  background: #183855;
}

.footer-container {
  width: 50%;
  padding: 60px 33px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  width: 394px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-logo img {
  width: 248.485px;
  height: 74.449px;
}

.footer-links ul,
.footer-services ul {
  list-style: none;
}

.footer-links li,
.footer-services li {
  margin-bottom: 10px;
}
.footer-menu-head {
  color: #183855;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-nav-menu-item {
  color: #183855;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.copyright-text {
  position: absolute;
  bottom: 0;
  left: 35%;
  padding: 15px 0;
  color: #183855;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* footer end */
